server:
  port: 8080
spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/cx_shop?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC"
    username: root
    password: admin123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
api:
  prefix: /api/v1
jwt:
  expiration: 2592000 # 30 days
  secretKey: this_is_the_long_fucking_secret_key_used_in_jwt # 47 characters

logging.level.org.springframework.web: DEBUG #comment in production