<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm...">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Điện thoại</option>
            <option>Laptop</option>
            <option>Phụ kiện công nghệ</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://cdn.tgdd.vn/hoi-dap/1400630/so-sanh-laptop-gaming-va-laptop-workstation1.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odio
                    itaque, tempore eveniet maiores corrupti quam dolores adipisci perferendis fugiat quaerat dolorem
                    minus deserunt facere consequatur sapiente unde eum vero!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>₫100,000,000</del> ₫10,000,000</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://cdn.tgdd.vn/hoi-dap/1400630/so-sanh-laptop-gaming-va-laptop-workstation1.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odio
                    itaque, tempore eveniet maiores corrupti quam dolores adipisci perferendis fugiat quaerat dolorem
                    minus deserunt facere consequatur sapiente unde eum vero!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>₫100,000,000</del> ₫10,000,000</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://cdn.tgdd.vn/hoi-dap/1400630/so-sanh-laptop-gaming-va-laptop-workstation1.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odio
                    itaque, tempore eveniet maiores corrupti quam dolores adipisci perferendis fugiat quaerat dolorem
                    minus deserunt facere consequatur sapiente unde eum vero!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>₫100,000,000</del> ₫10,000,000</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://cdn.tgdd.vn/hoi-dap/1400630/so-sanh-laptop-gaming-va-laptop-workstation1.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odio
                    itaque, tempore eveniet maiores corrupti quam dolores adipisci perferendis fugiat quaerat dolorem
                    minus deserunt facere consequatur sapiente unde eum vero!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>₫100,000,000</del> ₫10,000,000</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://cdn.tgdd.vn/hoi-dap/1400630/so-sanh-laptop-gaming-va-laptop-workstation1.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odio
                    itaque, tempore eveniet maiores corrupti quam dolores adipisci perferendis fugiat quaerat dolorem
                    minus deserunt facere consequatur sapiente unde eum vero!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>₫100,000,000</del> ₫10,000,000</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>