@import '../../../styles.scss';

.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera,... */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.search-input {
    width: 300px;
    background-color: $cx-shop-background-color;
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.product-category {
    width: 200px;
}

.product-category option {
    background-color: $cx-shop-background-color;
    color: white;
    padding: 10px;
    border-color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: $cx-shop-background-color;
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: white;
}

.product-description {
    color: rgb(173, 178, 203);

    // hiển thị text trogn 1 dòng
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-warranty {
    color: $cx-shop-tint-color;
}

.product-price {
    color: white;
}

.product-rating {
    color: #ffd700;
    /* Gold color for stars */
    margin-top: 10px;
}

.product-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
}