@import '../../../styles.scss';

.container {
    color: white;
}

.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}

.product-header {
    color: $cx-shop-tint-color;
}

.form-control {
    background-color: $cx-shop-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: $cx-shop-background-color;
}

.form-label {
    color: white;
}

.product-order {
    color: $cx-shop-title-color;
}

table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: $cx-shop-background-color;

    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}

.btn-gradient {
    background: linear-gradient(to right, $cx-shop-tint-color, $cx-shop-color);
    color: white;
    border-radius: 30px;
    width: 200px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid white;
    border-radius: 10px;
}