@import '../../../styles.scss';

.container {
    color: white;
    height: 100vh;    
}

.register-form {
    background-color: $cx-shop-background-color;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32, 34, 60);
    align-items: center;
    justify-content: center;
}

.register-header {
    text-align: center;
    color: $cx-shop-title-color;
    margin-bottom: 20px;

}

.label-text {
    color: rgb(243, 165, 42);
}

.form-control {
    background-color: transparent;
    border: none;
    color: white;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-color: transparent;
    padding-left: 0;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $cx-shop-title-color;
    cursor: pointer;
}

.checkbox-text {
    color: rgb(243, 165, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: $cx-shop-tint-color;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: $cx-shop-title-color;
    text-decoration: none;
}

.register-button {
    background: linear-gradient(to right, $cx-shop-tint-color, $cx-shop-color);
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}

.divider {
    height: 1px;
    background-color: rgb(243, 165, 42);
    margin: 20px;
}

.divider-nospace {
    border-top: 1px solid white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(243, 165, 42, 0.4);
    opacity: 1;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(243, 165, 42, 0.4);
}