@import '../../../styles.scss';

.container {
    color: white;
}

.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}

.product-header {
    color: $cx-shop-tint-color;
}

.form-control {
    background-color: $cx-shop-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: $cx-shop-background-color;
}

.form-label {
    color: white;
}

.product-order {
    color: $cx-shop-title-color;
}