/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
}

$cx-shop-color: rgb(127, 68, 255);
$cx-shop-tint-color: rgb(233, 66, 178);
$cx-shop-title-color: rgb(105, 244, 181);
$cx-shop-background-color: rgb(19, 23, 42);